{:source-paths ["src-cljs"]

 :builds
 {:slab
  {:target :browser
   :compiler-options {:optimizations :none}

   ;; Force a concrete output directory (shadow will definitely write here)
   :output-dir "resources/public/js-out"
   :asset-path "js-out"

   :modules
   {:slab {:entries [pixelSlab.main]
           :output-to "resources/public/slab.js"}}}}}
